extends claritybase

block headstyle
    style.
        .language-json { font-size: 9pt; }

block header
    div(class="header-actions")
        a(href="/logout" class="nav-link nav-text") Logout

block sidebar
    section(class="sidenav-content")
        section(class="nav-group")
            // Add a few stock vAPI calls to inspect vSphere
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/vcenter/host") Host
                li
                    a(class="nav-link" href="?path=/rest/vcenter/datacenter") Datacenter
                li
                    a(class="nav-link" href="?path=/rest/vcenter/datastore") Datastore
                li
                    a(class="nav-link" href="?path=/rest/vcenter/cluster") Clusters
                li
                    a(class="nav-link" href="?path=/rest/vcenter/folder") Folders
                li
                    a(class="nav-link" href="?path=/rest/vcenter/network") Networks
                li
                    a(class="nav-link" href="?path=/rest/vcenter/vm") VM
                li
                    a(class="nav-link" href="?path=/rest/com/vmware/vcenter/ovf/export-flag") OVF Export Flag
                //li
                //    a(class="nav-link" href="?path=/rest/com/vmware/vcenter/ovf/import-flag") OVF Import Flag
        section(class="nav-group")
            label(for="tabexample2") Tagging
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/com/vmware/cis/tagging/category") Categories
                li
                    a(class="nav-link" href="?path=/rest/com/vmware/cis/tagging/tag") Tags
                li
                    a(class="nav-link" href="?path=/rest/vcenter/resource-pool") Resource Pool
        section(class="nav-group")
            label(for="tabexample2") Content Library
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/com/vmware/content/library") Libraries
                li
                    a(class="nav-link" href="?path=/rest/com/vmware/content/library/item/download-session") Download Sessions
                li
                    a(class="nav-link" href="?path=/rest/com/vmware/content/local-library") Local Libraries
                li
                    a(class="nav-link" href="?path=/rest/com/vmware/content/subscribed-library") Subscribed Libraries
        section(class="nav-group")
            label(for="tabexample2") Appliance Access
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/appliance/access/consolecli") Console CLI
                li
                    a(class="nav-link" href="?path=/rest/appliance/access/dcui") dcui
                li
                    a(class="nav-link" href="?path=/rest/appliance/access/ssh") ssh
                li
                    a(class="nav-link" href="?path=/rest/appliance/access/shell") shell
        section(class="nav-group")
            label(for="tabexample2") Appliance Recovery
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/appliance/recovery") Recovery                   
                li
                    a(class="nav-link" href="?path=/rest/appliance/recovery/backup/parts") Backup Parts
                li
                    a(class="nav-link" href="?path=/rest/appliance/recovery/backup/job") Backup Jobs
        section(class="nav-group")
            label(for="tabexample2") Appliance Health
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/appliance/health/applmgmt") Health
                li
                    a(class="nav-link" href="?path=/rest/appliance/health/load") Load
                li
                    a(class="nav-link" href="?path=/rest/appliance/health/mem") Mem
                li
                    a(class="nav-link" href="?path=/rest/appliance/health/mem") System
                li
                    a(class="nav-link" href="?path=/rest/appliance/health/database-storage") Database Storage
                li
                    a(class="nav-link" href="?path=/rest/appliance/health/storage") Storage
                li
                    a(class="nav-link" href="?path=/rest/appliance/health/software-packages") Sofware Packages
                li
                    a(class="nav-link" href="?path=/rest/appliance/health/swap") Swap
        section(class="nav-group")
            label(for="tabexample2") Appliance Monitoring
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/appliance/monitoring") Monitoring
                li
                    a(class="nav-link" href="?path=/rest/appliance/monitoring/snmp/stats") SNMP stats
        section(class="nav-group")
            label(for="tabexample2") Appliance Networking
            ul(class="nav-list")                    
                li
                    a(class="nav-link" href="?path=/rest/appliance/networking/dns/domains") DNS Domains
                li
                    a(class="nav-link" href="?path=/rest/appliance/networking/dns/hostname") DNS Host Name
                li
                    a(class="nav-link" href="?path=/rest/appliance/networking/dns/servers") DNS Servers
                li
                    a(class="nav-link" href="?path=/rest/appliance/networking/interfaces") Networking Interfaces
                li
                    a(class="nav-link" href="?path=/rest/appliance/techpreview/networking/firewall/addr/inbound") Firewall Inbound
        section(class="nav-group")
            label(for="tabexample2") Appliance System
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/appliance/system/storage") Storage
                li
                    a(class="nav-link" href="?path=/rest/appliance/system/time") Time
                li
                    a(class="nav-link" href="?path=/rest/appliance/system/uptime") Uptime
                li
                    a(class="nav-link" href="?path=/rest/appliance/system/version") Version
        section(class="nav-group")
            label(for="tabexample2") Appliance VMon
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/appliance/vmon/service") VMon Service
        section(class="nav-group")
            label(for="tabexample2") Appliance Tech Preview
            ul(class="nav-list")
                li
                    a(class="nav-link" href="?path=/rest/appliance/techpreview/services") Services

mixin arrayTable(data)
    if Array.isArray(data) && data.length > 0
        table(class="table table-striped")
            if typeof data[0] === 'string'
                if (path.endsWith('/content/library'))
                    tr
                        th(class="left") Libraries
                        th(class="left") Items
                else if (path.includes('/content/library/item'))
                    tr
                        th(class="left") Items                
                for row in data
                    tr
                        - console.log(path)
                        if (path.endsWith("/content/library") || path.endsWith('/content/subscribed-library') || path.endsWith('/content/local-library'))
                            td(class="left")
                                strong
                                    a(href=`?path=${path}/id:${row}`) #{row}
                            td(class="left")
                                strong
                                    a(href=`?path=${path}/item?library_id=${row}`) #{row}                            
                        else if (path.includes("/content/library/item"))
                            td(class="left")
                                strong
                                    a(href=`?path=${path.split('?')[0]}/id:${row}`) #{row}
                        else    
                            td(class="left") #{row}
            else
                tr
                    for key in Object.keys(data[0])
                        th(class="left") #{key}
                for row in data
                    tr
                        if Array.isArray(row)
                            +arrayTable(data)
                        else
                            for key in Object.keys(row)
                                if typeof row[key] === 'object'
                                    td
                                        +verticalTable(row[key])
                                else if (key == id || key == 'id' || key == 'key')
                                    td(class="left")
                                        strong
                                            a(href=`?path=${path}\/${row[key]}`) #{row[key]}
                                else
                                    td(class="left") #{row[key]}
    else
        div []


mixin verticalTable(data)
    if data
        table(class="table table-striped")
            for key in Object.keys(data)
                tr
                    if typeof data[key] == "object" && !Array.isArray(data[key])
                        th(class="left") #{key}
                        td(class="left")
                            +verticalTable(data[key])
                    else
                        th(class="left") #{key}
                        if Array.isArray(data[key])
                            td(class="left")
                                +arrayTable(data)
                        else
                            if (key == id || key == 'id' && !path.includes('content/library/item'))
                                td(class="left")
                                    strong
                                        a(href=`?path=${path}\/${data[key]}`) #{data[key]}
                            else if (key == 'publish_url')
                                td(class="left")
                                    strong
                                        a(href=`${data[key]}` target="_blank") #{data[key]}
                            else if (key == 'library_id')
                                td(class="left")
                                    strong
                                        a(href=`?path=/rest/com/vmware/content/library/id:${data[key]}`) #{data[key]}
                            else
                                td(class="left") #{data[key]}

block content
    h2 #{host}
    div API: #{path}
    if !error
        if Array.isArray(data)
            +arrayTable(data)
        else if typeof data === 'object' && !Array.isArray(data)
            +verticalTable(data)
        else
            div #{data}

    h4 REST JSON Data
    pre
        code(class="language-json").
            #{raw}
